:root {
    --WordBox: rgb(63, 186, 202);
    --BoxWord: black;
    --MainFont: rgb(28, 48, 92);
    --TopFont: rgb(63, 186, 202);
    --BorderLine:  rgb(28, 48, 92);
    --HFBG: black;
    --Space: 75px;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}