body {
    background-color: rgb(217, 221, 226);
}
/* First Section.  Header. */
header {
    background-color: var(--HFBG);
    padding: 10px;  
}
/* My name top left. */
h1 {
    color: var(--BoxWord);
    font-size: 300%;
    background-color: var(--WordBox);
    display: inline-block;
        
}
/* Navigation to topics. */
.nav {
    float: right;
    margin-right: var(--Space); 
}

/* Two areas use 'a'. First class. */
.a1 {
    color: var(--TopFont);
    font-size: 110%;
    text-decoration: none;
    align-content: center;
    border-bottom-color: var(--TopFont);
    border-bottom-style: solid;
    border-width: 5px;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
    
}

/* Second Section.  Image BG with a nick tag. */
.BGSectionImg {
    height: 200px;
    background-image: url("./images/fshinstartrials.jpg");
    background-size: cover;
    background-position: 1% 80%;
}
/* This is the nick tag. */
h2 {
    color: var(--BoxWord);
    font-size: 250%;
    background-color: var(--WordBox);
    float: right;
    margin-top: 130px;
    margin-right: var(--Space); 
}

/* Third Section.  Main:  About Me, Work, Contact. */
main {
    margin-right: var(--Space);
    margin-left: var(--Space);
    display: inline-block;    
}
/* Each topic has it's own box with top spacing. */
.Content {
    margin-top: 30px;    
}
/* Used as topic tabs to the left of main topics. */
h3 {
    color: var(--MainFont);
    font-size: 300%;
    text-align: right;
    width: 247px;
    margin: 0px 10px 30px 0px;
    vertical-align: top;
    display: inline-block;
}
/* Container for paragraphs on About Me. */
article {
    max-width: 1492px;
    border-left-color: var(--BorderLine);
    border-left-style: solid;
    border-width: 5px;
    display: inline-block;
}
/* Paragraphs */
.p1 {
    margin-left: 30px;
    color: black;
    margin-bottom: 10px;   
}
/* Container width and inline with section description. */
.WorkContent {
    max-width: 1492px;
    border-left-color: var(--BorderLine);
    border-left-style: solid;
    border-width: 5px;
    display: inline-block;
}
/* Container for larger image tag float. */
.lgTagFloat {
    position: relative;
}
/* Container for smaller image tag float. */
.smTagFloat {
    margin-top: 30px;
    position: relative;
    display: inline-block;
}
/* Only images used.  Classed 'img' directly by selecting. */
img {
    border-color: var(--WordBox);
    border-style: solid;
    border-width: 5px;
    display: inline-block;
}
/* Larger image space left. */
.lgTopic {   
    height: 856px;
    width: 1456px;
    margin-left: 30px;    
}

.smTopic {
    height: 350px;
    width: 711px;
    object-fit: cover;
    object-position: center bottom;
    margin-left: 30px;    
}
/* Position of tag within photos. */
.tag {
    position: absolute;
    bottom: 120px;
    left: 35px;
}
/* Used because it's bold. */
h4 {
    color: var(--BoxWord);
    font-size: 150%;
    padding: 1px 5px 30px 5px;
    background-color: var(--WordBox);
    position: absolute;
}
/* Used because it's not bold. */
.p2 {
    position: absolute;
    top: 30px;
    left: 2px;
}

/* Second navigation box for a links. */
.nav2 {
    margin-bottom: 30px;
    padding-left: 75px;
    border-left-color: var(--BorderLine);
    border-left-style: solid;
    border-width: 5px;
    vertical-align: bottom;
    text-align: right;
    display: inline-block;
}
/* Two areas use 'a'.  Second Class. */
.a2 {
    color: var(--BoxWord);
    font-size: 110%;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px 15px 0px;
    margin-left: 88px;
    width: 165px;
    border-bottom-color: var(--BorderLine);
    border-bottom-style: solid;
    border-width: 5px;
    display: inline-block;
}
/* Footer fun. */
footer {
    background-color: var(--HFBG);
    text-align: center;
}

h5 {
    color: var(--TopFont);
}

/* New Display size. 
@media screen and (max-width: 962px) {
    h2 {
        float: left;
      }
      .lgTopic {
          width: 85%;
          height: 85%;
      }
      .smTopic {
          width: 85%;
          height: 85%;
      }
  }

/* New Display Size. 
@media screen and (max-width: 768px) {
    h2 {
      float: left;
    }
    .lgTopic {
        width: 444px;
        height: 244px;
    }
    .smTopic {
        width: 190px;
        height: 120px;
    }
}

/* New Display size. */
@media screen and (max-width: 640px) {
    * {
        font-size: 15px;
    }
    h1 {
        font-size: 250%;
    }  
    h2 {
        font-size: 200%;
        float: left;
    }
    h3 {
        font-size: 220%;
        text-align: left;
    }
    .nav {
        margin-right: 0px;
    }
    .nav2 {
        margin-left: 0px;
    }
    .lgTopic {
          width: 443px;
          height: 25%;
    }
    .smTopic {
          width: 25%;
          height: 25%;
    } 
} 